{% set action = app.request.attributes.get("_route") %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
        <li>
            <a href="{{ path('avaloir') }}" class="nav-link">
                Avaloirs
            </a>
        </li>
        <li>
            <a href="{{ path('avaloir_without_street') }}" class="nav-link">
                Avaloirs sans nom de rue
            </a>
        </li>
        <li>
            <a href="{{ path('rue') }}" class="nav-link">
                Rues
            </a>
        </li>
        <li>
            <a href="{{ path('quartier') }}" class="nav-link">
                Quartier
            </a>
        </li>
    {% endif %}
    {% if routeExists('intervention') %}
        {% if is_granted('ROLE_TRAVAUX') %}
            <li>
                <a href="{{ path('intervention') }}" class="nav-link"> | Interventions</a>
            </li>
        {% endif %}
    {% endif %}

    {% if routeExists('stock_home') %}
        {% if is_granted('ROLE_TRAVAUX') %}
            <li>
                <a href="{{ path('stock_home') }}" class="nav-link"> | Stocks</a>
            </li>
        {% endif %}
    {% endif %}
</ul>