{% set plans = data[day|date('j')] ?? [] %}
{% set classDay = "border border-success" %}
<div class="border" style="min-height: 300px;">
    {% if day.isSameMonth(dateSelected) %}
        <div class="d-flex flex-row justify-content-end align-items-center gap-2">
            <span class="badge rounded-pill text-bg-secondary {{ classDay }}" role="button">
                {{ day.day }}
            </span>
            <a href="{{ path('planning_new', {'date': day|date('Y-m-d'),'category':categorySelected ? categorySelected.id}) }}">
                <i class="fa fa-plus-square" style="height: 2rem;"></i>
            </a>
            <a class="btn btn-sm btn-success"
               href="{{ path('planning_export_pdf_daily',{'date':day|date('Y-m-d'), 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
               title="Exporter la journée en pdf "
               role="button">
                <i class="fas fa-file-pdf"></i>
            </a>
        </div>
        {% for plan in plans %}
            <div class="shadow p-3 mb-2 bg-body-tertiary rounded border border-success m-2"
                 style="--bs-border-opacity: .5;">
                <a href="{{ path('planning_show', {'id': plan.id}) }}" style="font-size: 0.7rem;"
                   class="d-flex align-items-center gap-1">
                    {% for ouvrier in plan.employes %}
                        {{ ouvrier.nom }}
                        {% if ouvrier.inVacation(day) %}
                             (Absent)
                        {% endif %}
                        <br/>
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <button type="button" disabled="disabled" class="btn cal-btn {{ classDay }}">{{ day.day }}
            /{{ day.month }}</button>
    {% endif %}
</div>