<div class="mt-2 calendar-wrapper">
    <div class="d-flex justify-content-between">
        <a href="{{ path('planning_index', {'monthyear':previous.format('Y-m')}) }}">
            <i class="fas fa-arrow-left"></i> Précédent
        </a>
        <h3 class="text-success text-center">
            {{ dateSelected.monthName|trans }}  {{ dateSelected.year }} {{ categorySelected }}
        </h3>
        <a href="{{ path('planning_index', {'monthyear':next.format('Y-m')}) }}">
            Suivant <i class="fas fa-arrow-right"></i>
        </a>
    </div>

    {#
    <ul class="calendar list-group">
        <li class="bg-info list-group-item">S</li>
        <li class="bg-info list-group-item">Lun</li>
        <li class="bg-info list-group-item">Mar</li>
        <li class="bg-info list-group-item">Mer</li>
        <li class="bg-info list-group-item">Jeu</li>
        <li class="bg-info list-group-item">Ven</li>
        <li class="bg-info list-group-item">Sam</li>
        <li class="bg-info list-group-item">Dim</li>
        <li class="list-group-item">S</li>
        {% for day in days %}
            {% include '@Travaux/planning/_cell.html.twig' %}
            {% if loop.last %} <li class="list-group-item">S</li> {% endif %}
        {% endfor %}
    </ul>
    #}
</div>
