{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.intitule) }}

<div class="row">
    <div class="col-6">
        {{ form_row(form.horaire) }}
    </div>
    <div class="col-6">
        {{ form_row(form.batiment) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.domaine) }}
    </div>
    <div class="col-6">
    </div>
</div>

<div class="row">
    <div class="col-6">
        {{ form_row(form.datesCollection) }}
    </div>
</div>

{{ form_row(form.employes) }}
{{ form_row(form.descriptif) }}

<div class="row">
    <div class="col-3">
        {{ form_row(form.save) }}
    </div>
    {% if form.saveAndAdd is defined %}
        <div class="col-3">
            {{ form_row(form.saveAndAdd) }}
        </div>
    {% endif %}
</div>

{{ form_end(form) }}