{% extends '@AcMarcheTravaux/layout_planning.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Planning des interventions</h3>

        <div class="card-body">
            {% if is_granted('ROLE_TRAVAUX') %}
                <a href="{{ path('planning_new',{'date':date('today')|date('Y-m-d'),'category':categorySelected ? categorySelected.id}) }}"
                   class="btn btn-primary mb-3" role="button"><i
                            class="ti ti-plus"></i> Ajouter</a>
            {% endif %}


            {% include '@Travaux/planning/_categories.html.twig' %}

            {% include '@Travaux/planning/_calendar.html.twig' %}

            <h3 class="text-success mt-4">Interventions du
                mois {{ dateSelected.monthName }} {{ dateSelected.year }} {{ categorySelected }}</h3>
            <div class="d-flex gap-3 flex-row align-items-center">
                <a class="btn btn-sm btn-success m-2"
                   href="{{ path('planning_export_pdf',{'yearmonth':dateSelected.year~'-'~dateSelected.month, 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
                   role="button">
                    <i class="ti ti-file-type-pdf"></i>
                    Exporter en Pdf
                </a>
                <a class="btn btn-sm btn-warning m-2"
                   href="{{ path('planning_export_xls',{'yearmonth':dateSelected.year~'-'~dateSelected.month, 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
                   role="button">
                    <i class="ti ti-file-type-csv"></i>
                    Exporter le mois en Xls
                </a>
                <a class="btn btn-sm btn-warning m-2"
                   href="{{ path('planning_export_year_xls',{'year':dateSelected.year, 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
                   role="button">
                    <i class="ti ti-file-type-csv"></i>
                    Exporter l'année en Xls
                </a>
            </div>
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Horaire</th>
                    <th scope="col">Encodé par</th>
                    <th scope="col">Date(s)</th>
                    <th scope="col" class="hidden-xs">Affection</th>
                </tr>
                </thead>
                <tbody>
                {% for intervention in interventions %}
                    <tr id="{{ intervention.id }}">
                        <td>
                            <a href="{{ path('planning_show', {'id': intervention.id, 'yearmonth':yearMonth,'categoryId':categorySelected ?categorySelected.id}) }}"
                               title="Détail de l'intervention">Num {{ intervention.id }}
                            </a>
                        </td>
                        <td>{{ intervention.category }}</td>
                        <td>{{ intervention.horaire }}</td>
                        <td>{{ intervention.user_add }}</td>
                        <td>
                            {% for date in intervention.dates %}
                                {{ date|format_date('full') }} |
                            {% endfor %}
                        </td>
                        <td class="hidden-xs">
                            {% for employe in intervention.employes %}
                                {{ employe.prenom }} {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
