{% extends '@AcMarcheTravaux/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Planning des interventions</h3>
        <div class="card-body">
            {% if is_granted('ROLE_TRAVAUX') %}
                <a href="{{ path('planning_new') }}" class="btn btn-primary mb-3" role="button"><i
                            class="fa fa-plus"></i> Ajouter</a>
            {% endif %}
            <div class="calendar-wrapper">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('planning_index', {'monthyear':previous.format('Y-m')}) }}">
                        Précédent
                    </a>
                    <h3 class="text-success text-center">
                        {{ date.monthName|trans }}  {{ date.year }}
                    </h3>
                    <a href="{{ path('planning_index', {'monthyear':next.format('Y-m')}) }}">
                        Suivant
                    </a>
                </div>

                <ul class="calendar list-group">
                    <li class="bg-info list-group-item">Lun</li>
                    <li class="bg-info list-group-item">Mar</li>
                    <li class="bg-info list-group-item">Mer</li>
                    <li class="bg-info list-group-item">Jeu</li>
                    <li class="bg-info list-group-item">Ven</li>
                    <li class="bg-info list-group-item">Sam</li>
                    <li class="bg-info list-group-item">Dim</li>
                    <li class="first-day list-group-item">1</li>
                    {% for day in days %}
                        {% include '@Travaux/planning/_cell.html.twig' %}
                    {% endfor %}
                </ul>
            </div>

            <h3 class="text-success mt-3">Listing</h3>
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Intitule</th>
                    <th scope="col">Type</th>
                    <th scope="col">Encodé par</th>
                    <th scope="col">Date(s)</th>
                    <th scope="col" class="hidden-xs">Affection</th>
                </tr>
                </thead>
                <tbody>
                {% for intervention in interventions %}
                    <tr id="{{ intervention.id }}">
                        <td>
                            {{ intervention.id }}
                        </td>
                        <td>
                            <a href="{{ path('planning_show', { 'id': intervention.id }) }}"
                               title="Détail de l'intervention">{{ intervention.intitule }}
                            </a>
                        </td>
                        <td>{{ intervention.domaine }}</td>
                        <td>{{ intervention.useradd }}</td>
                        <td>
                            {% for date in intervention.dates %}
                                {{ date|format_date('full') }} |
                            {% endfor %}
                        </td>
                        <td class="hidden-xs">
                            {% for employe in intervention.employes %}
                                {{ employe.prenom }},
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}