{% extends '@AcMarcheTravaux/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Planning des interventions</h3>

        <div class="card-body">
            {% if is_granted('ROLE_TRAVAUX') %}
                <a href="{{ path('planning_new') }}" class="btn btn-primary mb-3" role="button"><i
                            class="fa fa-plus"></i> Ajouter</a>
            {% endif %}

            <ul class="mb-5 list-group list-group-horizontal">
                {% for category in categories %}
                    {% set categorySelectedId = categorySelected ? categorySelected.id : 0 %}
                    <li class="list-group-item {% if category.id == categorySelectedId %} text-bg-success {% endif %}">
                        <a href="{{ path('planning_index', {'yearmonth': dateSelected.year~'-'~dateSelected.month, 'categoryPlanning':category.id}) }}"
                        class="{% if category.id == categorySelectedId %} text-white {% endif %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% include '@Travaux/planning/_calendar.html.twig' %}

            <h3 class="text-success mt-4">Listing du mois {{ dateSelected.monthName }} {{ dateSelected.year }} {{ categorySelected }}</h3>
            <div class="d-flex gap-3 flex-row align-items-center">
            <a class="btn btn-sm btn-success m-2"
               href="{{ path('planning_export_pdf',{'yearmonth':dateSelected.year~'-'~dateSelected.month, 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
               role="button">
                <i class="fas fa-file-pdf"></i>
                Exporter en Pdf
            </a>
            <a class="btn btn-sm btn-warning m-2"
               href="{{ path('planning_export_xls',{'yearmonth':dateSelected.year~'-'~dateSelected.month, 'categoryPlanning':categorySelected ?categorySelected.id}) }}"
               role="button">
                <i class="fas fa-file-csv"></i>
                Exporter en Xls
            </a>
            </div>
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Horaire</th>
                    <th scope="col">Encodé par</th>
                    <th scope="col">Date(s)</th>
                    <th scope="col" class="hidden-xs">Affection</th>
                </tr>
                </thead>
                <tbody>
                {% for intervention in interventions %}
                    <tr id="{{ intervention.id }}">
                        <td>
                            <a href="{{ path('planning_show', { 'id': intervention.id }) }}"
                               title="Détail de l'intervention">Num {{ intervention.id }}
                            </a>
                        </td>
                        <td>{{ intervention.category }}</td>
                        <td>{{ intervention.horaire }}</td>
                        <td>{{ intervention.user_add }}</td>
                        <td>
                            {% for date in intervention.dates %}
                                {{ date|format_date('full') }} |
                            {% endfor %}
                        </td>
                        <td class="hidden-xs">
                            {% for employe in intervention.employes %}
                                {{ employe.prenom }},
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}