<h4>Avaloir(s)</h4>
{% if avaloirs | length > 0 %}
    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Village</th>
            <th>Quartier</th>
            <th>Rue et numéro</th>
            <th>Dernière date de nettoyage</th>
            {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for avaloir in avaloirs %}
            <tr>
                <td>
                    <a title="Consulter l'avaloir" href="{{ path('avaloir_show', { 'id': avaloir.id }) }}">
                        {{ avaloir.id }}
                    </a>
                </td>
                <td>{{ avaloir.commentaire.village }}</td>
                <td>
                    {% if avaloir.commentaire.quartier %}
                        <a href="{{ path('quartier_show', { 'id': avaloir.commentaire.quartier.id }) }}">
                            {{ avaloir.commentaire.quartier }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('commentaire_show', { 'id': avaloir.commentaire.id }) }}">
                        {{ avaloir.commentaire }} {{ avaloir.numero }}
                    </a>
                </td>
                <td>
                    {% if avaloir.dates | length > 0 %}
                        {% set jour = avaloir.dates | first %}
                        {{ jour }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_TRAVAUX_AVALOIR') %}
                    <td>
                        <a href="{{ path('avaloir_edit', { 'id': avaloir.id }) }}" title="Editer"
                           role="button" class="btn btn-primary btn-xs"><i class="far fa-edit"></i>
                            Editer
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
