{% if intervention.documents | length > 0 %}
    <div class="d-print-none">
        <h3 class="text-success">Document(s) joint(s)</h3>

        {% if intervention.documents | length > 0 %}
            <table class='table table-bordered table-hover'>
                {% for document in intervention.documents %}
                    <tr>
                        <td>
                            {% if 'image' in document.mime %}
                                <a href="{{ path('document_show', { 'id': document.id }) }}"> <img
                                            src="{{ document | apptravaux_download | imagine_filter('actravaux_thumb') }}"
                                            alt="img"/></a>
                            {% else %}
                                <i class="ti ti-download"></i>
                                <a href="{{ absolute_url(document | apptravaux_download ) }}">Télécharger</a>
                            {% endif %}

                        </td>
                        <td>
                            <a title="Details" href="{{ path('document_show', { 'id': document.id }) }}">
                                {{ document.mime }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endif %}