{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>{{ intervention }}</h3>
            {% if intervention.etat == 'En attente' %}
                <i class="float-right ti ti-hourglass" title="{{ intervention.etat }}"></i>
            {% endif %}
        </div>
        <div class="card-body">
            {% include '@AcMarcheTravaux/intervention/actions.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/_workflow.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/panel.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/documents.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/suivis.html.twig' with {'form': delete_form_suivis } %}
        </div>
        {% if not pdf %}
            <div class="card-footer text-muted">
        <span class="text-muted">
                {{ 'Created' | trans }} {{ intervention.createdAt|date('d-m-Y H:i:s') }} par {{ intervention.useradd }}
                . {{ 'Updated' | trans }} {{ intervention.updatedAt|date('d-m-Y H:i:s') }}
            </span>
                {% if intervention.archive %}
                    <i class="float-right ti ti-archive" title="Archive"></i>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% include '@AcMarcheTravaux/intervention/modal_archiver.html.twig' %}
    {% include '@AcMarcheTravaux/intervention/delete.html.twig' %}
{% endblock %}
