{% extends '@AcMarcheStock/layout.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Liste des produits</h3>
        <div class="card-body">
            {% include '@AcMarcheStock/search/produit.html.twig' %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Quantite</th>
                    <th>Mis à jour le</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td><a href="{{ path('stock_produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a></td>
                        <td>{{ produit.categorie }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>{{ produit.updatedAt|format_date('full') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
