{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Liste des absences de {{ employe }}</h3>
        <div class="card-body">
            <a href="{{ path('absence_new',{'id':employe.id}) }}" class="btn btn-primary mb-3" role="button"><i
                        class="fa fa-plus"></i> Ajouter une absence</a>
            <table class="table table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Raison</th>
                </tr>
                {% for absence in absences %}
                    <tr>
                        <td>
                            <a href="{{ path('absence_show', {'id': absence.id}) }}">
                                {{ absence.date_begin|format_date('full') }}
                            </a>
                        </td>
                        <td>{{ absence.raison }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
