{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Rues pour le quartier <strong>{{ quartier }}</strong></h3>
        <div class="card-body">
            <div class="alert alert-info">
                Choisissez une rue parmis les suggestions proposées
            </div>
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('quartier_show', { 'id': quartier.id } ) }}">
                <i class="ti ti-list"></i> Annuler et retour
            </a>
        </div>
    </div>
{% endblock %}