{% extends '@AcMarcheTravaux/pdf/basePdf.html.twig' %}

{% block content %}

    <h3 class="text-success fs-2 text-uppercas">Planning pour {{ title }} </h3>

    {% for intervention in interventions %}
        <div class="col-md-6">
            <table class='table table-bordered table-hover'>
                <tr>
                    <th>
                        Numéro:
                    </th>
                    <td>
                        {{ intervention.id }}
                    </td>
                </tr>
                <tr>
                    <th>Equipe</th>
                    <td>{{ intervention.category }}</td>
                </tr>
                <tr>
                    <th>Date(s)</th>
                    <td>
                        {% for dateInter in intervention.dates %}
                            {{ dateInter|format_date('full') }},
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Horaire:
                    </th>
                    <td>
                        {{ intervention.horaire }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Ouvriers:
                    </th>
                    <td>
                        {% for ouvrier in intervention.employes %}
                            {% if ouvrier.inVacation(date) %}
                                (abs)
                            {% endif %}
                            <span>{{ ouvrier.nom }}{% if not loop.last %}, {% endif %}</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <br/>
            {{ intervention.description | nl2br }}
        </div>
        <hr/>
    {% endfor %}

{% endblock %}