{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-6">
        {{ form_row(form.prenom) }}
    </div>
</div>
{{ form_row(form.categories) }}
<button type="submit" name="save" class="btn btn-primary mb-3" role="button">
    <i class="ti ti-device-floppy"></i> Sauvegarder
</button>
{{ form_end(form) }}