{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Liste des ouvriers</h3>
        <div class="card-body">
            <a href="{{ path('employe_new') }}" class="btn btn-primary mb-3" role="button"><i
                        class="ti ti-plus"></i> Ajouter</a>
            <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Equipe</th>
                    <th>Absences</th>
                </tr>
                {% for employe in employes %}
                    <tr>
                        <td>
                            <a href="{{ path('employe_show', {'id': employe.id}) }}">{{ employe.nom }}</a>
                        </td>
                        <td>
                            {{ employe.prenom }}
                        </td>
                        <td>
                            {{ employe.categories|join(',') }}
                        </td>
                        <td>
                            <a href="{{ path('absence_index', {'id':employe.id}) }}">{{ employe.absences|length }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

