{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">{{ employe }}</h3>
        <div class="card-body">
            {% include '@AcMarcheTravaux/employe/_actions.html.twig' %}

            <p class="block m-3">Equipes : {{ employe.categories|join('') }}</p>

            <h4 class="text-success">Absences</h4>
            {% for absence in absences %}
                <table class="table table-bordered">
                    <tr>
                        <th>Date</th>
                        <th>Raison</th>
                    </tr>
                    {% for absence in absences %}
                        <tr>
                            <td>
                                <a href="{{ path('absence_show', {'id': absence.id}) }}">
                                    {{ absence.date_begin|format_date('full') }}
                                    au {{ absence.date_end|format_date('full') }}
                                </a>
                            </td>
                            <td>{{ absence.raison }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
            {% include '@AcMarcheTravaux/employe/_delete.html.twig' %}
    </div>
{% endblock %}

